nav {
    /* justify-content: center !important; */
    background: #000;
      /* align-items: center; */
}

nav .navbar-collapse {
    color: white;
    position: fixed;
    top: 56px;
    background: #181a1d;
    /* opacity: 0.5; */
    /* right: -100%; */
    width: 20vw;
    height: inherit;
    display: block;
    transition: 0.3s ease;
    }


nav .navbar-collapse.show {
        margin-top: 60px;;
        left: auto;
    }

.header-logo {
    /* display: block; */
    width: 8vw;

}

.search-bar {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
