nav {
    /* justify-content: center !important; */
    background: #000;
}

nav .navbar-collapse {
    position: fixed;
    top: 56px;
    background: #343a40;
    /* right: -100%; */
    width: 30vw;
    height: inherit;
    display: block;
    transition: 0.3s ease;
    }


nav .navbar-collapse.show {
        left: auto;
    }

.header-logo {
    width: 10vw;

}