
html {
  background-color: #2b2a2a;
}

.App {
  text-align: center;
  background-color: #2b2a2a;
}

.App-header {
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1px white solid;
}


.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}